body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.row{
  margin-top: 5px;
}

.round-btn-100{
  width: 100px;
  height: 100px;
}
.round-btn-200{
  width: 200px;
  height: 200px;
}
