<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap-v4.0.0.min.css">
    <!-- VUE.js 生产环境版本，优化了尺寸和速度 -->
    <script src="js/vue-v2.5.16.js"></script>
    <!-- vue-tables-2.js -->
    <script src="js/vue-tables-2.min.js"></script>
    <!-- axios -->
    <script src="js/axios-v0.18.0.min.js"></script>
</head>
<body>
    <div class="container" id="app">
        <div class="row">
            <div class="col-md-12 text-center" >
                <h1 class="fontRed">
                    <img src="img/dh.icon.png" class="img-fluid" 
                    style="margin-bottom:5px;">
                    投票系统
                </h1>
                <footer class="blockquote-footer">党建服务中心 <cite title="Source Title">复旦大学</cite></footer>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" >
                <input 
                v-model="user.name"
                type="text" 
                class="form-control"
                placeholder="账号">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" >
                <input 
                v-model="user.pass"
                type="password" 
                class="form-control"
                placeholder="密码"> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" >
                <button 
                @click="login()"
                :disabled="user.name=='' || user.pass=='' || busy==true"
                type="button"
                class="btn btn-dark btn-block btn-lg "
                style="background-color:#e1330f"
                >
                <span>登录</span> </button>
            </div>
        </div>
    </div>

</body>
<!-- Vue setup should be at the end. -->
<script src="func.js"></script>
<script src="login.js"></script>
</html>