<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vote Result Print</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap-v4.0.0.min.css">
    <!-- VUE.js -->
    <script src="js/vue-v2.5.16.js"></script>
    <!-- axios -->
    <script src="js/axios-v0.18.0.min.js"></script>
    <!-- jquery, bootstrap -->
    <script src="js/jquery-v3.2.1.slim.min.js"></script>
    <script src="js/popper-v1.12.9.min.js"></script>
    <script src="js/bootstrap-v4.0.0.min.js"></script>

    <!-- Element UI -->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/elementUI/index.css">
    <!-- 引入组件库 -->
    <script src="js/elementUI/index.js"></script>

    
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <style lang="stylesheet">
        
        body {
            margin-top: 50px;
            font-size:24px;
            font-family: "Kaiti";
        }

        table,table tr th, table tr td { 
            border:1px solid #000000;
            font-size:20px;
        }

        .A4{
            height: 1500px; 
        }
        
        .margin-bottom-10{
            margin-bottom: 10px;
        }

        .margin-bottom-20{
            margin-bottom: 20px;
        }
        .print-show {
            display: none;
        }

        @media print {
            .print-hide {
                display: none;
            }
            .print-show {
                display: inline;
            }
        }
    </style>
</head>
<body>
    <div class="container A4" id="app">

        <!-- function -->
        <div class="row print-hide margin-bottom-10">
            <div class="col-md-6 text-center margin-bottom-10" >
                <select 
                @change="changeType()"
                v-model="print.type"
                :disabled="user.role!='admin'"
                class="form-control">
                    <option value="result">计票结果单</option>
                    <option value="report">计票结果报告单</option>
                </select>
            </div>
            <div class="col-md-6 text-center margin-bottom-10" >
                <select 
                @change="setExecuter(print.selectValue)"
                v-model="print.selectValue"
                :disabled="print.type=='report' || user.role!='admin'"
                class="form-control">
                    <option value="admin">总计</option>
                    <option 
                    v-for="(v, i) in vote.executer"
                    :value="v"
                    >第{{i+1}}组 {{v}} </option>
                </select>
            </div>
            <div class="col-md-12 text-center margin-bottom-10" >
                <button
                @click="callPrint()"
                class="btn btn-block btn-outline-dark"
                >打印 (Ctrl + P)</button>
            </div>
        </div>

        <!-- result -->
        <div class="row" v-if="print.type=='result'">
        <div class="col-md-12">

            <div class="row margin-bottom-20">
                <div class="col-md-12 text-center" >
                    <h1>{{vote.title}}</h1>
                    <h1>
                        <span v-show="print.selectValue!='admin'">小组</span><span v-show="print.selectValue=='admin'">总</span>计票结果单
                    </h1>
                </div>

                <div class="col-md-12" v-show="print.selectValue!='admin'">
                    <p> 
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        本小组统计
                        选票（&nbsp;&nbsp;{{ticketStat.total}}&nbsp;&nbsp;）张，
                        其中无效票（&nbsp;&nbsp;{{ticketStat.invalid}}&nbsp;&nbsp;）张，
                        有效票（&nbsp;&nbsp;{{ticketStat.valid}}&nbsp;&nbsp;）张。
                    </p>
                    <p> 
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        计票结果如下：
                    </p>
                </div>
                
                <div class="col-md-12" v-show="print.selectValue=='admin'">
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{vote.title}}应到代表290名，
                        实到代表（<span class="print-hide"><input 
                            v-model="ticketStat.here"
                            type="text" 
                            style="width:100px;border: 0px;"
                            placeholder="点击输入"
                            ></span><span class="print-show">&nbsp;&nbsp;{{ticketStat.here}}&nbsp;&nbsp;</span>）名，
                        发出选票（&nbsp;&nbsp;{{ticketStat.total}}&nbsp;&nbsp;）张，
                        其中无效票（&nbsp;&nbsp;{{ticketStat.invalid}}&nbsp;&nbsp;）张，
                        有效票（&nbsp;&nbsp;{{ticketStat.valid}}&nbsp;&nbsp;）张。
                    </p>
                    <p> 
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        计票结果如下（按姓氏笔画为序）：
                    </p>
                </div>
            </div>

            <div class="row margin-bottom-20">
                <div class="col-md-6 text-center" >
                    <table style="width:100%;" cellpadding="5">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>候选人</th>
                                <th>得赞成票数</th>
                                <th>不赞成票数</th>
                                <th>弃权票数</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(v, i) in table.printData.left">
                                <td> {{v.ID}} </td>
                                <td> {{v.participant}} </td>
                                <td> {{v.cnt}} </td>
                                <td> {{v.cntReject}} </td>
                                <td> {{v.cntGiveUp}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 text-center" >
                    <table style="width:100%;" cellpadding="5">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>候选人</th>
                                <th>得赞成票数</th>
                                <th>不赞成票数</th>
                                <th>弃权票数</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(v, i) in table.printData.right">
                                <td> {{v.ID}} </td>
                                <td> {{v.participant}} </td>
                                <td> {{v.cnt}} </td>
                                <td> {{v.cntReject}} </td>
                                <td> {{v.cntGiveUp}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row margin-bottom-20">
                <div class="col-md-6 text-center" >
                    <table style="width:100%;" cellpadding="5">
                        <thead>
                            <tr>
                                <th>另选人姓名</th>
                                <th>得赞成票数</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(v, i) in table.printOtherData.left">
                                <td> {{v.name}} </td>
                                <td> {{v.cnt}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 text-center" >
                    <table style="width:100%;" cellpadding="5">
                        <thead>
                            <tr>
                                <th>另选人姓名</th>
                                <th>得赞成票数</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(v, i) in table.printOtherData.right">
                                <td> {{v.name}} </td>
                                <td> {{v.cnt}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row margin-bottom-20" >
                <div class="col-md-6" >
                    <strong>
                        <span v-show="print.selectValue!='admin'">小组</span><span v-show="print.selectValue=='admin'">总</span>监票人: 
                    </strong>
                </div>
                <div class="col-md-6" >
                    <strong>
                        <span v-show="print.selectValue!='admin'">小组</span><span v-show="print.selectValue=='admin'">总</span>计票人: 
                    </strong>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 text-right" >
                    <strong>{{today}}</strong>
                </div>
            </div>

        </div>
        </div>


        <!-- report -->
        <div class="row" v-if="print.type=='report'">
        <div class="col-md-12">

            <div class="row margin-bottom-20">
                <div class="col-md-12 text-center" >
                    <h1>{{vote.title}}</h1>
                    <h1>
                        <span v-show="print.selectValue!='admin'">小组</span><span v-show="print.selectValue=='admin'"></span>计票结果报告单
                    </h1>
                </div>
                <div class="col-md-12" >
                    <p>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{vote.title}}应到代表290名，
                        实到代表（<span class="print-hide"><input 
                            v-model="ticketStat.here"
                            type="text" 
                            style="width:100px;border: 0px;"
                            placeholder="点击输入"
                            ></span><span class="print-show">&nbsp;&nbsp;{{ticketStat.here}}&nbsp;&nbsp;</span>）名，
                        发出选票（&nbsp;&nbsp;{{ticketStat.total}}&nbsp;&nbsp;）张，
                        其中无效票（&nbsp;&nbsp;{{ticketStat.invalid}}&nbsp;&nbsp;）张，
                        有效票（&nbsp;&nbsp;{{ticketStat.valid}}&nbsp;&nbsp;）张。
                    </p>
                    <p> 
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        计票结果如下（按得票多少为序）：
                    </p>
                </div>
            </div>

            <div class="row margin-bottom-20">
                <div class="col-md-6 text-center" >
                    <table style="width:100%;" cellpadding="5">
                        <thead>
                            <tr>
                                <th>排序</th>
                                <th>候选人</th>
                                <th>得赞成票数</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(v, i) in table.printData.left">
                                <td> {{v.ID}} </td>
                                <td> {{v.participant}} </td>
                                <td> {{v.cnt}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 text-center" >
                    <table style="width:100%;" cellpadding="5">
                        <thead>
                            <tr>
                                <th>排序</th>
                                <th>候选人</th>
                                <th>得赞成票数</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(v, i) in table.printData.right">
                                <td> {{v.ID}} </td>
                                <td> {{v.participant}} </td>
                                <td> {{v.cnt}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row margin-bottom-20">
                <div class="col-md-6 text-center" >
                    <table style="width:100%;" cellpadding="5">
                        <thead>
                            <tr>
                                <th>另选人姓名</th>
                                <th>得赞成票数</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(v, i) in table.printOtherData.left">
                                <td> {{v.name}} </td>
                                <td> {{v.cnt}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 text-center" >
                    <table style="width:100%;" cellpadding="5">
                        <thead>
                            <tr>
                                <th>另选人姓名</th>
                                <th>得赞成票数</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(v, i) in table.printOtherData.right">
                                <td> {{v.name}} </td>
                                <td> {{v.cnt}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row margin-bottom-20">
                <div class="col-md-6" >
                    <strong>总监票人: </strong>
                </div>
                <div class="col-md-6" >
                    <strong>总计票人: </strong>
                </div>
            </div>
            <div class="row margin-bottom-20">
                <div class="col-md-12 text-right" >
                    <strong>{{today}}</strong>
                </div>
            </div>

        </div>
        </div>

    </div>
</body>
<!-- functons -->
<script src="func.js"></script>
<!-- Vue setup should be at the end. -->
<script src="votePrint.js"></script>
<!-- init -->
<script src="execute.js"></script>
</html>