<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vote</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap-v4.0.0.min.css">
    <!-- VUE.js -->
    <script src="js/vue-v2.5.16.js"></script>
    <!-- vue-tables-2.js -->
    <script src="js/vue-tables-2.min.js"></script>
    <!-- axios -->
    <script src="js/axios-v0.18.0.min.js"></script>
    <!-- jquery, bootstrap -->
    <script src="js/jquery-v3.2.1.slim.min.js"></script>
    <script src="js/popper-v1.12.9.min.js"></script>
    <script src="js/bootstrap-v4.0.0.min.js"></script>
    <!-- icons -->
    <!-- <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script> -->
    <!-- Element UI -->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="css/elementUI/index.css">
    <!-- 引入组件库 -->
    <script src="js/elementUI/index.js"></script>
</head>
<body>
    <div class="container-fluid" id="app">
        <div class="row">
            <div class="col-md-2" >
                <h1 class="display-1">详情</h1>
            </div>
            <div class="col-md-4" >
                <h2>名称: {{vote.title}}</h2>
                <p>创建时间: {{vote.date}}</p>
                <p>计票人数: {{vote.num.executer}}</p>
                <p>目标/候选: {{vote.num.target}} / {{vote.num.participant}}</p>
            </div>
            <div class="col-md-2" >
                <button 
                @click="callModal('#MODAL-ADD-PARTICIPANT')"
                :disabled="vote.participant.length>0"
                type="button"
                data-toggle="tooltip"
                title="一次性导入所有候选人"
                class="btn btn-outline-dark btn-lg rounded-circle round-btn-150"
                ><ion-icon name="add"></ion-icon> 候选人</button>
            </div>
            <div class="col-md-2" >
                <button 
                @click="jump(vote.ID)"
                type="button"
                data-toggle="tooltip"
                title="当前投票的所有状态"
                class="btn btn-outline-success btn-lg rounded-circle round-btn-150"
                ><ion-icon name="pulse"></ion-icon> 进度</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center" >
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" ><h3>候选人 {{vote.participant.length}} 人 </h3></div>
            <div class="col-md-2" v-for="(v, i) in vote.participant">
                <span>{{("0" + (i + 1)).substr(-2)}}</span>
                <span>{{v}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" >
                <h3>
                    计票人 {{vote.executer.length}} 人 <账号> <密码> 
                    <el-switch
                    v-model="showPass"
                    active-color="#13ce66"
                    inactive-color="#ff4949">
                    </el-switch>
                </h3>
            </div>
            <div class="col-md-2 margin-bottom-5" v-for="(v, i) in vote.executer">
                <el-tag type="success">{{v}}</el-tag>
                <el-tag v-show="showPass" type="info">{{vote.pass[v]}}</el-tag>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="MODAL-ADD-PARTICIPANT" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">添加候选人</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <textarea 
                        @change="parse()"
                        v-model="add.participantStr"
                        rows="10"
                        class="form-control"
                        ></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2" v-for="(v, i) in add.participant">
                        <span>{{v}}</span>
                    </div>
                </div>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button 
                @click="addParticipant()"
                :disabled="add.participantStr=='' || busy || add.participant.length==0 || add.participant.length != vote.num.participant"
                type="button" 
                class="btn btn-primary"
                >添加</button>
            </div>
        </div>
        </div>
        </div>

    </div>
</body>
<!-- functons -->
<script src="func.js"></script>
<!-- Vue setup should be at the end. -->
<script src="voteManage.js"></script>
<!-- init -->
<script src="execute.js"></script>
</html>